[submodule "components/esp_littlefs"]
	path = components/esp_littlefs
	url = https://github.com/joltwallet/esp_littlefs.git
[submodule "components/SSDP_IDF"]
	path = components/SSDP_IDF
	url = https://github.com/luc-github/SSDP_IDF.git
