name: build-ci

on: [pull_request, push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - name: esp-idf setup
        run: bash ./.github/ci/idf-setup.sh
      - name: build ESP32_2432S028R
        id: ESP322432S028R
        run: bash ./.github/ci/ESP32_2432S028R.sh
        continue-on-error: true
      - name: build ESP32_ROTRICS_DEXARM35
        id: ESP32ROTRICSDEXARM35
        run: bash ./.github/ci/ESP32_ROTRICS_DEXARM35.sh
        continue-on-error: true
      - name: build ESP32S3_HMI43V3
        id: ESP32S3HMI43V3
        run: bash ./.github/ci/ESP32S3_HMI43V3.sh
        continue-on-error: true
      - name: build ZX3D50CE02S-SRC-4832
        id: ZX3D50CE02SRC4832
        run: bash ./.github/ci/ZX3D50CE02S-SRC-4832.sh
        continue-on-error: true
      - name: Final check failure
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        if: steps.ESP322432S028R.outcome == 'failure' || steps.ESP32ROTRICSDEXARM35.outcome == 'failure'|| steps.ESP32S3HMI43V3.outcome == 'failure'|| steps.ZX3D50CE02SRC4832.outcome == 'failure'
        run: bash ./.github/ci/final-check.sh "$GITHUB_RUN_ID" "failure"
      - name: Final check failure
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        if: steps.ESP322432S028R.outcome == 'success' && steps.ESP32ROTRICSDEXARM35.outcome == 'success' && steps.ESP32S3HMI43V3.outcome == 'success' && steps.ZX3D50CE02SRC4832.outcome == 'success'
        run: bash ./.github/ci/final-check.sh "$GITHUB_RUN_ID" "success"
     


